/* Tablet :: Inherits from default */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    width: 714px;
  }
}

/* Mobile :: Inherits from default  */
@media only screen and (max-width: 767px) {
  #wrapper {
    width: 254px;
  }
}

/* Wide Mobile :: Inherits from default and Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #wrapper {
    width: 438px;
  }
}
/* Grid Reference
cols    1     2      3      4      5      6      7      8
px      70    162    254    346    438    530    622    714 */
