@import "reset";
@import "typography";

/* Default Styles */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #404040;
  line-height: 1.2;
}

/* Grid Reference
cols    1     2      3      4      5      6      7      8      9      10
px      70    162    254    346    438    530    622    714    806    898 */