@import "mixins";
@import "reset";
@import "typography";
@import "tables";

/* Default Styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $basefont;
  font-weight: normal;
  color: $dark-gray;
  line-height: $baseline;
}

#wrapper {
  width: 898px;
  margin: 10px auto;
  padding: 0 22px;
}
