/* 
    Bendy by Blake Williams
    License: http://creativecommons.org/licenses/MIT/
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

a img {border: 0;}

/* Selection Colors */
::selection, ::-moz-selection {
    background: #ff5e99;
    color: #fff;
}
img::selection,img::-moz-selection {
    background: transparent;
}

body {
    font: 16px/24px Helvetica, Arial, sans-serif;
    background: #e8e8e8;
    color: #3c3c3c;
    -webkit-tap-highlight-color: #ff5e99);
    -webkit-text-size-adjust: 100%; /* No font adjustment for mobile safari */
}

/* Standard: 898px. 
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      70    162    254    346    438    530    622    714    806    898    */
/* Change body to whatever class/ID you want handling your resizable content */
body {
    width: 898px;
    margin: 10px auto;
}

/* Tablet: 714px.
Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      70    162    254    346    438    530    622    714    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Change body to whatever class/ID you want handling your resizable content */
    body {
        width: 714px;
    }
}

/* Wide Mobile: 438px.
Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      70    162    254    346    438    */
@media only screen and (max-width: 767px) {
    /* Change body to whatever class/ID you want handling your resizable content */
    body {
        width: 438px;
    }
}

/* Mobile Layout: 254px.
Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      70    162    254    */
@media only screen and (max-width: 479px) {
    /* Change body to whatever class/ID you want handling your resizable content */
    body {
        width: 254px;
    }
}
