html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a img {
  border: 0;
}

::selection, ::-moz-selection {
  background: #bcbcbc;
  color: #3e3e3e;
}

p {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #404040;
}
p small {
  font-size: 11px;
  color: #bfbfbf;
}

h1, h2, h3, h4, h5, h6 {
  color: #404040;
  font-weight: bold;
  margin-bottom: 10px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: bold;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #bfbfbf;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
h1 small {
  font-size: 18px;
}

h2 {
  font-size: 24px;
}
h2 small {
  font-size: 15px;
}

h3 {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}

h4 {
  font-size: 16px;
}
h4 small {
  font-size: 12px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
  text-transform: uppercase;
}

ul, ol {
  margin: 0 0 18px 25px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.unstyled {
  list-style: none;
  margin-left: 0;
}

li {
  line-height: 1.2;
}

hr {
  border: 0;
  line-height: 1;
  border-bottom: 1px solid #dddddd;
}

strong {
  font-style: inherit;
  line-height: inherit;
  font-weight: bold;
}

em {
  font-style: inherit;
  line-height: inherit;
  font-style: italic;
}

/* Default Styles */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #404040;
  line-height: 1.2;
}
